# Unsupervised Learning

In [1]:
import numpy as np
import pandas as pd
#from IPython.display import display
data = pd.read_csv("Wholesale-customers-data.csv")
data

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [2]:
data.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [3]:
data.drop(["Region","Channel"], axis=1, inplace=True)
data

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0    12669   9656     7561     214              2674        1338
1     7057   9810     9568    1762              3293        1776
2     6353   8808     7684    2405              3516        7844
3    13265   1196     4221    6404               507        1788
4    22615   5410     7198    3915              1777        5185
..     ...    ...      ...     ...               ...         ...
435  29703  12051    16027   13135               182        2204
436  39228   1431      764    4510                93        2346
437  14531  15488    30243     437             14841        1867
438  10290   1981     2232    1038               168        2125
439   2787   1698     2510      65               477          52

[440 rows x 6 columns]

In [4]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeRegressor
x = data.copy().drop('Milk', 1)
y = data['Milk']
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2, random_state=0)
model = DecisionTreeRegressor(random_state=0)
model.fit(X_train, Y_train)
score=model.score(X_test, Y_test)
score

0.2921734185674395

In [5]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeRegressor
x = data.copy().drop('Grocery', 1)
y = data['Grocery']
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2, random_state=0)
model = DecisionTreeRegressor(random_state=0)
model.fit(X_train, Y_train)
score=model.score(X_test, Y_test)
score

0.6169514453971011

In [6]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeRegressor
x = data.copy().drop('Frozen', 1)
y = data['Frozen']
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2, random_state=0)
model = DecisionTreeRegressor(random_state=0)
model.fit(X_train, Y_train)
score=model.score(X_test, Y_test)
score

0.173861115884259

In [7]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeRegressor
x = data.copy().drop('Detergents_Paper', 1)
y = data['Detergents_Paper']
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2, random_state=0)
model = DecisionTreeRegressor(random_state=0)
model.fit(X_train, Y_train)
score=model.score(X_test, Y_test)
score

0.7275787916887393

In [8]:
log_data = np.log(data.copy())
log_data

         Fresh      Milk    Grocery    Frozen  Detergents_Paper  Delicassen
0     9.446913  9.175335   8.930759  5.365976          7.891331    7.198931
1     8.861775  9.191158   9.166179  7.474205          8.099554    7.482119
2     8.756682  9.083416   8.946896  7.785305          8.165079    8.967504
3     9.492884  7.086738   8.347827  8.764678          6.228511    7.488853
4    10.026369  8.596004   8.881558  8.272571          7.482682    8.553525
..         ...       ...        ...       ...               ...         ...
435  10.299003  9.396903   9.682030  9.483036          5.204007    7.698029
436  10.577146  7.266129   6.638568  8.414052          4.532599    7.760467
437   9.584040  9.647821  10.317020  6.079933          9.605149    7.532088
438   9.238928  7.591357   7.710653  6.945051          5.123964    7.661527
439   7.932721  7.437206   7.828038  4.174387          6.167516    3.951244

[440 rows x 6 columns]

In [9]:
for feature in log_data.keys():  
    Q1 = np.percentile(log_data[feature], 25)
    Q3 = np.percentile(log_data[feature], 75)
    step = 1.5 * (Q3 - Q1)
    
index_random  = [75, 61, 86, 189, 145]
good_data = log_data.drop(log_data.index[index_random]).reset_index(drop = True)
good_data

         Fresh      Milk    Grocery    Frozen  Detergents_Paper  Delicassen
0     9.446913  9.175335   8.930759  5.365976          7.891331    7.198931
1     8.861775  9.191158   9.166179  7.474205          8.099554    7.482119
2     8.756682  9.083416   8.946896  7.785305          8.165079    8.967504
3     9.492884  7.086738   8.347827  8.764678          6.228511    7.488853
4    10.026369  8.596004   8.881558  8.272571          7.482682    8.553525
..         ...       ...        ...       ...               ...         ...
430  10.299003  9.396903   9.682030  9.483036          5.204007    7.698029
431  10.577146  7.266129   6.638568  8.414052          4.532599    7.760467
432   9.584040  9.647821  10.317020  6.079933          9.605149    7.532088
433   9.238928  7.591357   7.710653  6.945051          5.123964    7.661527
434   7.932721  7.437206   7.828038  4.174387          6.167516    3.951244

[435 rows x 6 columns]

In [10]:
indices = [19,65,91]
samples = pd.DataFrame(data.loc[indices], columns = data.keys()).reset_index(drop = True)
log_samples=np.log(samples.copy())
log_samples

      Fresh      Milk    Grocery    Frozen  Detergents_Paper  Delicassen
0  8.959312  7.822044   9.155250  6.505784          7.831220    6.216606
1  4.442651  9.950323  10.732651  3.583519         10.095388    7.260523
2  9.453600  7.923710   7.835975  9.070273          6.440947    7.018402